*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans";
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 3000px;
    margin:auto;
    overflow: hidden;
}

.titulo{
    color: rgb(13, 11, 14);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
header{
    width: 100%;
    height: 600px;
    background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e792d3c8, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d26d82, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-size: cover;
background-attachment: fixed;
position: relative;
} 
nav{
    text-align :right;  
    padding: 30px 50px 0 0;

}
nav > a{
    color: #000000;
    font-weight: 350;
    text-decoration: none;
    margin-right: 40px;

}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
   display: flex;
   height: 430px;
   width: 100%;
   align-items: center; 
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.textos-header h1{
    font-size: 50px;

}
.textos-header h2{
    font-weight: 300;
}

.wave{
    position:absolute;
    bottom: 0;
    width: 100%;

}

.contenedor-huellas-sin-hogar{
    display: flex;
    justify-content: space-evenly;

 
}
.imagen-about-us{
    width: 48%;
}

.huellas-sin-hogar.contenido-textos{
    width: 48%;
}
.contenido-textos-h3{
    margin-bottom: 15px;

}


.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;


}

.portafolio{
    background-color: #dfcbcf;
    
}

 .galeria-port{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

 .imagen-port{
     width: 15%;
     margin-bottom: 5px;
     height: 200px;
     overflow: hidden;
     position: relative;
     cursor: pointer;
     box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

 }

 .imagen-port>img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }
 .hover-galeria{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0%;
     /*transform: scale(0);*/
    background:hsla(237,01%,27%,0,7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .hover-galeria img{
     width: 200px;
 }

 .hover-galeria p{
     color: aliceblue;
 }

 .imagen-port:hover .hover-galeria{
     transform: scale(0);
 }



